* {
    font-family: sans-serif;
    color: color: #00344d;
}

/* Header */

header {
    background-color: #ccefff; 
}

h1 {
    text-align: center;
}

h2 {
    text-align: right;
}

/* Menu */

/* Ariana thread */

/* Content */

/* Footer */