* {
    font-family: sans-serif;
    color: #00344d;
}

a {
   text-decoration: none; 
}

/* Header */

header {
    border: 0;
    padding: 2em;
    background-color: #ccefff;
    height: 230px;
}

header a:link a:hover a:visited a:active {
    text-decoration: none; 
}

h1 {
    text-align: center;
    font-weight: bold;
}

h2 {
    text-align: right;
    font-weight: bold;
}
/* Need to be just above menu */

/* Menu */

nav {
    height: 70px;
    margin: 0;
    padding: 0;
    align-content: center;
}

/* Content */

main a {
    text-decoration: underline;
}

.code {
    font-family: 'Courier New', Courier, monospace;
    background-color: #80ccff;    
}

.block .inline {
    background-color: #00344d;
    color: bisque;
}

/* Footer */